body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to top, #6797ad 0%, #5157ad 100%);
    
}

h1, h2, h3, p, a, li, figcaption, label {
    color: #eeeef7;
}


#header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.header-special {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
}

a {
    margin: 10px;
    text-decoration: none;
    color:  #ffffff;
    font-family: raleway;
    border-bottom: 1px solid #ffffff;
    transition: color 0.5s ease-out;
}
a:hover {
    color: #c3bedb;
    border-bottom-color: #c3bedb;
}

main > *, footer, header {
    margin: 4px;
    padding: 5px;
    border-radius: 7px;
}
  
article {
    flex-basis: 40%;
    background: #67adad;
    font-size: 25px;
    padding: 10px;
    flex-grow: 3;
    flex-shrink: 1;
}
main {
    display: flex;
    flex-basis: 700px;
    font-size: 25px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: #67adad;
    
}

section {
    flex-basis: 10%;
    padding: 10px;
}

aside {
    flex-grow: 1;
    
    flex-shrink: 4;
}

li {
    padding: 4px;
}

header, footer {
    background: #68c2c2;
    flex-basis: 100px;
}

.header-special{
    background: #67adad;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}
div {
    padding: 10px;
    font-size: 20px;
}


@media all and (max-width: 960px) {
    
    #header-main  > h1 {
        font-size: 10px;
        flex-basis: 200px;
    }

    .header-special {
        font-size: 2opx;
    }

    main {
        flex-direction: column;
    }
    
    section {
        font-size: 20px;
    }

    article > p {
        font-size: 20px;
    }

    nav {
        flex-direction: row;
        order: 1;
    }

    aside {
        font-size: 20px;
    }

    article > div {
        font-size: 20px;
    }
}

@media all and (max-width: 1200px) {
   
    #header-main  > h1 {
        font-size: 35px;
    }

    .header-special {
        font-size: 25px;
    }

    main {
        flex-direction: column;
    }
    
    section {
        font-size: 30px;
    }

    article > p {
        font-size: 30px;
    }

    nav {
        flex-direction: row;
        order: 1;
    }

    aside {
        font-size: 30px;
    }

    article > div {
        font-size: 25px;
    }

}


@media all and (max-width: 1600px) {
    #header-main {
        font-size: 25px;
    }

    .header-special  {
        font-size: 25px;
        flex-basis: 100px;
    }
    main {
        font-size: 25px;
        flex-basis: 600px;
    }
    
    #gallery > div > figure > img {
        width: 120px;
        height: 180px;
    }

}

@media all and (max-width: 2000px) {
    #header-main {
        font-size: 25px;
    }

    .header-special  {
        font-size: 25px;
        flex-basis: 100px;
    }
    main {
        font-size: 25px;
        flex-basis: 600px;
    }

    article > p {
        padding: 10px;
    }
    
    #gallery > div > figure > img {
        width: 120px;
        height: 180px;
    }

}

@media all and (max-width: 2400px) {
    #header-main {
        font-size: 30px;
    }

    .header-special  {
        font-size: 30px;
        flex-basis: 80px;
    }
    main {
        font-size: 30px;
        flex-basis: 800px;
    }

    main > section > img {
        width: 300px;
    }

    article > p {
        padding: 20px;
    }
    aside {
        font-size: 30px;
    }
    
    #gallery > div > figure > img {
        width: 120px;
        height: 180px;
    }
    #gallery > div > figure {
        font-size: 25px;
    }
}

@media all and (max-width: 3600px) {
    #header-main {
        font-size: 30px;
    }

    .header-special  {
        font-size: 30px;
        flex-basis: 80px;
    }
    main {
        font-size: 30px;
        flex-basis: 600px;
    }

    main > section > img {
        width: 300px;
    }

    article {
        font-size: 30px;
    }
    
    aside {
        font-size: 30px;        
    }

    #gallery > div > figure > img {
        width: 160px;
        height: 220px;
    }
    #gallery > div > figure {
        font-size: 25px;
    }
}



@media all and (max-width: 4000px) {
    #header-main {
        font-size: 25px;
        flex-basis: 80px;
    }

    .header-special  {
        font-size: 30px;
        flex-basis: 80px;
    }

    main {
        font-size: 25px;
        flex-basis: 750px;
    }

    main > section > img {
        width: 300px;
    }
    
    aside {
        font-size: 30px;        
    }

    #gallery > div > figure > img {
        width: 180px;
        height: 240px;
    }
    #gallery > div > figure {
        font-size: 30px;
    }
}
